%%-*- mode: erlang -*-

{require_otp_vsn, "R14B*|R15B|R16B*"}.

{erl_opts, [ debug_info
	     %% , warnings_as_errors, 	     
	    , warn_obsolete_guard
            %% , warn_unused_import % supress  proper inc warnings 
            , clint
	    , warn_shadow_vars
	    , warn_export_vars
	   ]}.

{deps, [
	{proper, ".*",  {git, "https://github.com/manopapad/proper.git", "master"}},
	{eunit_viz, ".*", {git, "https://github.com/ibnHatab/Visualizing-EUnit-tests.git", "master"}}
]}.


{cover_enabled, false}.
{cover_print_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{eunit_compile_opts, [{i, "../"}
		      , debug_info
		     ]}.

{ct_extra_params, "-pa deps/lager/ebin -boot start_sasl"}.
